.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #243B55;
}

.colormate__logo {
    width: 50px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.header__nav-list li a {
    color: azure;
    text-decoration: none;
    font-size: 1rem;
    background-color: rgb(44, 44, 44);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.header__nav-list li a:hover{
    background-color: #8FAADC;
}

.header__logout {
    margin-left: 1rem;
    background-color: #A09BE7;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.header__logout:hover {
    background-color: #a7a2e6;
}