.header {
    display: grid;
    grid-template-areas: "logo nav";
}

.header__nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
}