.main {
    background: linear-gradient(to bottom, #243B55, #435c8f);
    display: grid;
    align-items: top;
    justify-content: top;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.title__body {
    font-size: 4rem;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}