.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

.upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height:150px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #282c34;
    color: white;
    text-align: center;
    font-size: 1rem;
    transition: backgroud-color 0.3 ease;
}

.upload-box:hover {
    background-color: #3a3f47;
}

.upload-box input {
    display: none;
}

.upload-text {
    padding: 10px;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-image {
    max-width: 500px;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
